/* --------------------------
 * Element Styles
 * --------------------------
*/
html {
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.01em;
}

body {
  min-width: 320px;
  color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(75, 75, 75);
  margin: 2px;
}

a {
  color: #3b8bba;
  text-decoration: none;
}

p,
li {
  margin: 6px;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

.col-1 {
  flex-basis: 100%;
}

.col-1-4 {
  flex-basis: 25%;
}

.col-3-4 {
  flex-basis: 75%;
}

.col-1-2 {
  flex-basis: 50%;
}

.col-1-2-last {
  flex-basis: 50%;
}

@mixin sm {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1200px) {
    @content;
  }
}

[class*="col-md"] {
  @include sm {
    flex-basis: 100%;
  }
}

[class*="col-sm"] {
  @include md {
    flex-basis: 100%;
  }
}

.section {
  margin-bottom: 20px;
}

.section .section-head h2 {
  font-weight: 300;
  color: #888;
}

.section .section-body {
  margin-top: 5px;
}

/* --------------------------
 * Header Module Styles
 * --------------------------
*/
.header {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #eee;
  background: #fff;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 300%;
  font-weight: 100;
  margin: 0;
}

#contact {
  margin-bottom: 20px;
  @include md {
    margin-bottom: 40px;
  }
}

#contact .left {
  padding-left: 10px;
}

#contact .right {
  text-align: right;
  padding-right: 10px;
  @include sm {
    text-align: left;
    padding-left: 10px;
    padding-right: 0;
  }
}

#me {
  position: absolute;
  top: 20px;
  right: -200px;
  border-radius: 50%;
  @include lg {
    display: none;
  }
}

/* Hack for the Twitter icon kerning issue */
.icon-twitter {
  @include sm {
    margin: 4px;
  }
}

.big-p {
  margin-top: 20px;
}
