@import "susy";

$susy: (
  global-box-sizing: 'border-box',
  columns: 12,
  container: 768px
);

$bp-medium: 768px;

/* --------------------------
 * Element Styles
 * --------------------------
*/
html {
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.01em;
}

body {
    min-width: 320px;
    color: #777;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(75, 75, 75);
  margin: 2px;
}

a {
  color: #3b8bba;
  text-decoration: none;
}

p, li {
  margin: 6px;
}

.container { 
  @include container; 
  position: relative;
}

.col-1 {
  @include span(12 full);
}

.col-1-4 {
  @include span(3 of 12);
}

.col-3-4 {
  @include span(9 of 12 last);
}

.col-1-2 {
  @include span(6 of 12);
}

.col-1-2-last {
  @include span(6 of 12 last);
}

[class*='col-md'] {
  @include susy-breakpoint((max-width 700px)) {
    @include span(12 full);
  }
}

[class*='col-sm'] {
  @include susy-breakpoint((max-width 500px)) {
    @include span(12 full);
  }
}

.section {
  margin-bottom: 20px;
}

.section .section-head h2{
  font-weight: 300;
  color: #888;
}

.section .section-body {
  margin-top: 5px;
}

/* --------------------------
 * Header Module Styles
 * --------------------------
*/
.header {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #eee;
  background: #fff;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 300%;
  font-weight: 100;
  margin: 0;
}

#contact {
  margin-bottom: 20px;
  @include susy-breakpoint((max-width 768px)) {
    margin-bottom: 40px;
  }
}

#contact .left {
  padding-left: 10px;
}

#contact .right {
  text-align: right;
  padding-right: 10px;
  @include susy-breakpoint((max-width 500px)) {
    text-align: left;
    padding-left: 10px;
    padding-right: 0;
  }
}

#me {
  position: absolute;
  top: 20px;
  right: -200px;
  border-radius: 50%;
  @include susy-breakpoint((max-width 1200px)) {
    display: none;
  }
}

/* Hack for the Twitter icon kerning issue */
.icon-twitter {
  @include susy-breakpoint((min-width 500px)) {
    margin: 4px;
  }
}